/* general styles */

:root {
    --primary-color: rgba(10, 49, 156, 0.966);
    --secondary-color:#f4a261;
    --accent1-color:#0004ff;
    --accent2-color:#e9c46a;
    --heading-font: "Times New Roma","Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #fff;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

/* Body Styles */

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #fff;
}


/* Header styles */

header {
    display: grid;
    align-items: center;
    place-items: center;
    grid-template-columns: 30% 70%;
    background-color: #8c94ff;
    margin-top: 10px;
}

header img {
    width: 120px;
    /* border: 2px solid #000283; */
    border-radius: 5px;
}

    /* Nav styles ---------------------------------------------------------------------------------------*/ 
.navigation{
    display: flex;
    width: 500px;
    list-style: none;
    border: 2px solid #000283;
    justify-content: space-around;
}
.navigation li {
    flex: 1 2 0;
    flex-wrap: wrap;
    background-color: lightblue;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.navigation a {
    display: block;
    color: navy;
    padding: 0px;
    text-decoration: none;
    font-size: 1.2rem;
}

    /* List items individually styles -------------------------------------------------------------------*/
.border {
    border-left: 2px solid #000283;
    border-right: 2px solid #000283;
}
.border-right {
    border-right: 2px solid #000283;
}

/* main styles */

    /* div styles ---------------------------------------------------------------------------------------*/
.hero {
    position: relative;
}

        /* div img styles -------------------------------------------------------------------------------*/
.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
        /* div h1 styles --------------------------------------------------------------------------------*/
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
        /* div article styles ---------------------------------------------------------------------------*/
.hero article{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    max-width: 400px;
    box-shadow: 5px 5px 0px rgb(48, 118, 209);
    border: .1px solid black;
}
            /* article img style ------------------------------------------------------------------------*/
.hero article img {
    float: right;
    width: 150px;
    border: 2px solid rgb(0, 47, 255)
}

.center-box{
    text-align: left;
}

    /* first section style ------------------------------------------------------------------------------------*/
section img {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

.re-order {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
}     

.re-order h2 {
    grid-column: 1/4;
    text-align: center;
}

.moved-right {
    grid-column: 3/4;
}

    /* Second section style ------------------------------------------------------------------------------------*/
.pic-order{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15% 85%;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

section h2 {
    grid-column: 1/6;
    text-align: center;
}

.pic-order img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer styles */
footer {
    display: grid;
    grid-template-columns: 90% 10%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid rgb(48, 118, 209);
    padding: .3rem;
    background-color: rgba(170, 169, 169, 0.8);
}

.socialmedia a {
    text-decoration: none;
}

/* ------------------------------------------------ CONTACT HTML PAGE --------------------------------------------------------------- */
.second-page p {
    text-align: center;
}

.employees-order {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin: auto;
    row-gap: .5rem;
    border: 1px solid rgb(24, 57, 245, .3);
    padding: 1rem 0 1rem 0;
    max-width: 500px;
}

.employees-order img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #000283;
    border-radius: 50px;
    margin: 15px;
}

.location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1.5rem;
    gap: 2rem;
    width: 50rem;
}

form {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, auto);
}

form p {
    text-align: center;
}

button {
    grid-column: 1/3;
    width: 100%;
    padding: .3rem;
    align-self: center;
}

.personal-info {
    grid-column: 1/3;
}

.fontsize {
    font-size: .7rem;
    text-align: center;
}
